/*Altura = heigh+padding+border
 Anchura = width+padding+border*/
/*box-sizing: boder-box; Hace que el contenido no se salga
de la caja padre, los enjaula*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*Creación de variables*/
:root{
    --color-primario: #66D2CE;
    --color-secundario: #2DAA9E;
    --color-terciario: #EAEAEA;
    --color-hover: #E3D2C3;

    --fuente-Monserrat: "Montserrat", sans-serif;
    --funete--Krona: "Krona One", sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    /*height: 100vh; Ocupa el 100% de la altura de la pantalla*/
    box-sizing: border-box;
}
.header{
 padding: 2% 0% 0% 5%;
}
.header_menu{
 display: flex;
 gap: 80px;
}
.header_menu_link{
    font-size: 24px;
    font-family: var(--fuente-Monserrat);
    font-weight: 600;
    color:var(--color-terciario);
    text-decoration: none;
}
.tituloDestaque{
    color: var(--color-terciario);
}
.presentacion{
    display: flex; /*Flex-box*/
    align-items: center; /*Centra horizontalmente los elementos*/
    padding: 8% 5%;
    justify-content: space-between;
}
.presentacion_contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px; /*espacios entre filas y columnas en diseños de 
    cuadrícula, flex y de varias columnas*/
}
.presentacion_contenido_titulo{
    font-size: 36px;/*Tamaño de la fuente*/
    font-family: var(--funete--Krona);
}
.texto_presentacion{
    font-size: 24px;
    font-family: var(--fuente-Monserrat);
}
.enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.subtitulo_enlaces{
    font-size: 24px;/*Tamaño de la fuente*/
    font-family: var(--funete--Krona);
    font-weight: 400;
}
.enlaces_link{
    width: 100px;
    text-align: center;
    padding: 21.5px 94.5px;
    border-radius: 8px;
    /*border: 2px solid #22D4FD;*/
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-terciario);
    font-family: var(--fuente-Monserrat);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color:var(--color-secundario);
    display: flex;
    justify-content: center; /*Ya no se puede space-between*/
    gap: 10px;
}
.enlaces_link:hover{
    background-color: var(--color-hover);
}
.footer{
    font-size: 24px;
    font-family: var(--fuente-Monserrat);
    font-weight: 400;
    color: var(--color-primario);
    background-color: var(--color-terciario);
    padding: 24px;
    text-align: center;
}